.banner_area{
    .banner_item{
        background-image: url(../img/banner/banner.jpg);
        background-size: cover;
        background-position: bottom center;
        display: flex;
        align-items: center;
        position: relative;
        padding-top: 211px;
        padding-bottom: 385px;
        position: relative;
        z-index: 0;
        // &::before{
        //     content: '';
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: #000;
        //     z-index: -1;
        //     opacity: .75;
        // }
        @media #{$tab} {
            padding-top: 80px;
            padding-bottom: 140px;
        }
        @media #{$medium_device} {
            padding-top: 190px;
            padding-bottom: 236px;
        }
    }
    .banner_text{
        h3{
            font-size: 46px;
            line-height: 1.4;
            margin-bottom: 15px;
            color: $theme_color2;
            font-family: $font1;
            font-weight: 700;
            max-width: 100%;
            text-transform: capitalize;
            @media #{$tab} {
                font-size: 35px;
            }
            @media #{$medium_device} {
                font-size: 40px;
            }
            span{
                color: $purple_color;
            }
        }
        p{
            font-weight: 400;
            color: #272727;
            font-size: 16px;
            line-height: 1.5;
            font-family: $font2;
            margin-bottom: 39px;
            max-width: 900px;
        }
        .large_search_field{
            @media #{$small_mobile} {
                width: 100%;
            }
        }
    }
}